.text-shadow{
  text-shadow: 3px 10px 10px #E2319A;
  animation: glitch 500ms infinite;
  position:relative;
}
.text-shadow span{
  position: absolute;
  top:0;
  left: 0;
  

}

.text-shadow span:first-child{
  animation: glitch 350ms infinite;
  z-index: 1;
  clip-path: polygon(0 0,100% 0,100% 45%,0 30%);
  transform: translate(-.025em,-0.0125em);
  opacity: 0.9;
}
.text-shadow span:last-child{
  animation: glitch 375ms infinite;
  z-index: 1;
  clip-path: polygon(0 50%,100% 60%,100% 100%,0 100%);
  transform: translate(-.0125em,-0.025em);
  opacity: 0.9;
}

@keyframes glitch {
    0%{
      text-shadow: 3px 7px 5px  #8758FF,6px 5px 7px #E2319A
    }
    14%{
      text-shadow: -3px 7px 0px #E2319A
    }
    15%{
      text-shadow: -3px 7px 0px #E2319A,3px 7px 5px #8758FF
    }
    49%{
      text-shadow: -3px 7px 0px #E2319A,3px 7px 5px #8758FF
    }
    50%{
      text-shadow: 0px -5px 0px #E2319A,3px 7px 5px #8758FF
    }
    99%{
      text-shadow: 0px -5px 0px #E2319A
    }
    100%{
      text-shadow: 3px 0px -8px #E2319A
    }
}