.bgimg {
  background-image: url(/footerimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.grad {
  background: linear-gradient(0deg, transparent, #0d0221 20%);
}

@media (max-width: 650px) {
  .bgimg {
    background-image: url(/footerimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 190vh;
  }
}

@media (min-width: 640px) {
  .bgimg {
    background-image: url(/footerimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 125vh;
  }
}
