@font-face {
  font-family: vcr-osd;
  src: url("../assets/fonts/vcr-osd-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body,
html {
  height: 100%;
}

body {
  position: relative;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

canvas,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

#__next,
#root {
  isolation: isolate;
}

/* Header */

button.menu-button:hover {
  animation: animate-background 600ms ease-in-out forwards;
}

@keyframes animate-background {
  10% {
    border-color: rgb(245, 215, 227);
  }

  20% {
    border-color: rgb(45, 226, 230);
  }

  30% {
    border-color: rgb(245, 215, 227);
  }

  40% {
    border-color: rgb(45, 226, 230);
  }

  50% {
    border-color: rgb(45, 226, 230);
    background: repeating-linear-gradient(
      0deg,
      transparent,
      transparent 2px,
      rgb(45, 226, 230) 3px,
      rgb(45, 226, 230) 3px
    );
  }

  60% {
    border-color: rgb(45, 226, 230);
    background: repeating-linear-gradient(
      0deg,
      transparent,
      transparent 2px,
      rgb(45, 226, 230) 3px,
      rgb(45, 226, 230) 3.5px
    );
  }

  80% {
    border-color: rgb(45, 226, 230);
    background: repeating-linear-gradient(
      0deg,
      transparent,
      transparent 2px,
      rgb(45, 226, 230) 3px,
      rgb(45, 226, 230) 3.25px
    );
  }

  100% {
    border-color: rgb(45, 226, 230);
    background: repeating-linear-gradient(
      0deg,
      transparent,
      transparent 2px,
      rgb(45, 226, 230) 3px,
      rgb(45, 226, 230) 3px
    );
  }
}

span.title-decoration {
  font-weight: 100;
  font-size: 21px;
  display: inline-flex;
  width: 0.6em;
  height: 0.875em;
  transform: translateY(0.1em);
  background: repeating-linear-gradient(
    0,
    transparent,
    transparent 1px,
    #2de2e6 3px,
    #2de2e6 0
  );
  animation: blink-animation 1.25s steps(5, start) infinite;
}

@keyframes blink-animation {
  from {
    visibility: visible;
  }

  to {
    visibility: hidden;
  }
}
